body {
    height: 100%;
}

#root {
    width: 100vw;
    height: 100%;
}
.wrapper {
    background-color: #ecf0f1;
    height: 100%;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 50px;

    h1 {
        font-size: 40px;
        text-align: center;
    }
}
